/* src/shared/ui/layout/components/LayoutPanel/LayoutPanel.module.css */
@layer blocks {
    .panel {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        background: transparent;
    }
}