.panelContainer {
  /* padding: 1rem;
  display: flex; */
  width: 100%;
  height: 100%;
}

.panelSplitContainer {
  display: grid;
  grid-template-columns: 430px 1fr;
  width: 100%;
  height: 100%;
}

.panelOpen {
  display: block;
  width: 100%;
  height: 100%;
}