.detailContainer {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
  .detailContainer {
    grid-template-columns: 1fr 280px;
  }
}

@media (max-width: 768px) {
  .detailContainer {
    grid-template-columns: 1fr;
  }
}
